<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PPPK_DZ3.Properties.Settings.PPPK_DZ3ConnectionString"
            connectionString="Data Source=WIN-VM\SQLEXPRESS;Initial Catalog=PPPK_DZ3;User ID=sa;Password=sql"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>